﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-3.1.0.js")
    @Scripts.Render("~/Scripts/jquery-3.1.0.min.js")

    @*@Scripts.Render("~/Scripts/jstree.js")*@
    @Scripts.Render("~/Scripts/jstree.min.js")
    @Scripts.Render("~/Scripts/vakata-jstree.js")

    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular.min.js")
    @Scripts.Render("~/Scripts/angular-aria.js")
        
    @Scripts.Render("~/Scripts/ng-grid.js")
    @Scripts.Render("~/Scripts/ng-grid.min.js")
    @Scripts.Render("~/Scripts/ng-grid.debug.js")
    @Styles.Render("~/Content/ng-grid.css")
    @Styles.Render("~/Content/ng-grid.min.css")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.1/themes/default/style.min.css" />
 
    @*@Styles.Render("~/Content/angular.treeview.css")*@
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            @*<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>*@
        </div>
    </div>
  
    <div class="container body-content">
        <div id="mainApp" class="col-md-12">
            <div id="mySidenav" class="sidenav">
                <span style="font-size:20px;cursor:pointer" id="openNav" onclick="openNav()">&#9776; </span>
                <span style="font-size:15px;cursor:pointer" class="closebtn glyphicon glyphicon-hand-left" id="closeNav" onclick="closeNav()"></span>

                <div style="font-size:10px" id="menuContainer">
                </div>
            </div>
        </div>
        <div id="main">
                        @RenderBody()
                        <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>
     
   
    @*@Scripts.Render("~/img")
    @Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 20px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: aquamarine; /*CHANGE COLOR SIDE NAV*/
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 50px;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        /*media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }*/
</style>
<script type="text/javascript">

    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.getElementById("openNav").hidden = true;
    }

    /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "20px";
        document.getElementById("main").style.marginLeft = "20px";
        document.getElementById("openNav").hidden = false;
    }

    $('#menuContainer').jstree({
        'core': {
            'data': [
                {
                    "text": "Root node",
                    "state": { "opened": true },
                    "children": [
                        {
                            "text": "Child node 1",
                            "state": { "selected": true },
                            "children": [
                                           {
                                               "text": "sub node 1",
                                               "state": { "selected": true }
                                           },
                                           { "text": "sub node 2", "state": { "disabled": false } }
                                        ]
                        },
                        { "text": "Child node 2", "state": { "disabled": false } }
                    ]
                }
            ]
        }
    });
    $('#menuContainer').on("changed.jstree", function (e, data) {
        console.log("The selected nodes are:");
        console.log(data.selected);
        console.log(data.instance.get_selected(true)[0].text);
        console.log(data.instance.get_node(data.selected[0]).text);
    });
    //        //test tree model 2
    //        $scope.roleList2 = [
    //            {
    //                "roleName": "User", "roleId": "role1", "children": [
    //                { "roleName": "User List", "roleId": "1", "collapsed": true, "children": [], "controller":"User","action":"ViewUsers" },
    //                {
    //                    "roleName": "subUser2", "roleId": "role12", "collapsed": true, "children": [
    //                    {
    //                        "roleName": "subUser2-1", "roleId": "role121", "children": [
    //                        { "roleName": "subUser2-1-1", "roleId": "role1211", "children": [] },
    //                        { "roleName": "subUser2-1-2", "roleId": "role1212", "children": [] }
    //                        ]
    //                    }
    //                    ]
    //                }
    //                ]
    //            },


</script>
