﻿
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular-touch.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular-animate.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular-aria.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/lodash.min.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/jszip.min.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/excel-builder.dist.js"></script>
<script src="http://ui-grid.info/release/ui-grid.js"></script>
<link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
<link rel="stylesheet" href="main.css" type="text/css">

<div ng-app="appUser" ng-controller="UserCtrl" id="UserApp">
    <h2> Smart Users: {{textMsg}} </h2>
    <div style="height:450px" class="grid"
         ui-grid="gridOptions"
         ui-grid-selection>
    </div>
</div>

<script type="text/javascript">

    var appUser = angular.module('appUser', ['ngTouch', 'ui.grid']); //'ui.bootstrap','ngTouch', 'ui.grid'
    //var appUser = angular.module('appUser', ['ui.bootstrap']);
    appUser.controller("UserCtrl", ['$scope', '$http', function ($scope,  $http) {

        $scope.textMsg = " Entry Page (user app is working)";
        $scope.gridOptions = {
            columnDefs: [
                { field: 'col1', displayName: 'Column 1', width: 175 },
              { field: 'col2', displayName: 'Column 2', width: '*' },
              { field: 'col3', displayName: 'Column 3', width: 120 }
            ],
            data: [
              { col1: "Hello", col2: "World", col3: "tester" },
              { col1: "Hello 2", col2: "World", col3: "tester" },
              { col1: "Hello 3", col2: "World", col3: "tester" },
              { col1: "Hello 4", col2: "World", col3: "tester" },
              { col1: "Hello 5", col2: "World", col3: "tester" }
            ],
            enableRowSelection: true,
            onRegisterApi: function (gridApi) {
                $scope.gridApi = gridApi;
            }
        };
    }]);
    //angular.element(document).ready(function () {
    //    angular.bootstrap(document.getElementById("UserApp"), ['appUser', 'ui.bootstrap']);
    //});
</script>


